@import "variables.scss";

article {
  width: 285px;
  margin: .5rem;
  img {
    width: 285px;
    border-radius: 10px;
    cursor: pointer;
  }
}

svg {
  position: absolute;
  margin-left: calc(285px - 4.2rem);
  transition: all .3s;
  cursor: pointer;
  &:hover {
    width: 4.2rem;
  }
}

.info {
  position: absolute;
  padding-top: 3.5rem;
  width: 285px;
  border-radius: 10px;
  color: $off-white;
  background-color: $blue-accent;
  text-align: left;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  cursor: pointer;
  p {
    margin: .5rem; 
  }
  .overview {
    font-family: 'Ubuntu Condensed', sans-serif;  
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 430px) { 
  article {
    width: 250px;
    img {
      width: 250px;
    }
    svg {
      margin-left: calc(250px - 4.2rem);
      transition: none;
    }
  } 

  .info {
    width: 250px;
  }
}