article {
  width: 285px;
  margin: .5rem;
  img {
    width: 285px;
    border-radius: 10px;
  }
}

svg {
  position: absolute;
  margin-left: calc(285px - 4.2rem);
  transition: all .3s;
  cursor: pointer;
  &:hover {
    width: 4.2rem;
  }
}

@media only screen and (max-width: 430px) { 
  article {
    width: 250px;
    img {
      width: 250px;
    }
    svg {
      margin-left: calc(250px - 4.2rem);
      transition: none;
    }
  } 
}