@import "variables.scss";

.userBtns {
  display: flex;
  align-items: center;
  h3 {
    color: $off-white;
    margin: 0 1rem;
    font-size: 2rem;
  }
  button {
    color: $off-white;
    text-decoration: none;
    border: none;
    background-color: Transparent;
    font-size: 1rem;
    margin: 0 2rem 0 0 ;
    &:hover {
      color: $light-grey;
      background-color: Transparent;
    }
  }
}

.favoritesBtn {
  color: $off-white;
  text-decoration: none;
  margin: 0 .5rem;
  &:hover {
    color: $light-grey;
  }
}

span {
  color: $off-white;
}

.selected {
  color: $light-grey;
}

@media only screen and (max-width: 485px) { 
  .userBtns {
    h3 {
      font-size: 1rem;
    }
    button {
      font-size: .8rem;
    }
  }

  .favoritesBtn {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 390px) { 
  .userBtns {
    flex-direction: column;
    justify-content: center;
  }
}
