.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.more-btn {
  width: 20rem;
  margin-bottom: 2rem;
  border-radius: 10px; }

@media only screen and (max-width: 430px) {
  .more-btn {
    width: 15rem; } }
