@import "variables.scss";

.initialBtns {
  color: $off-white;
  text-decoration: none;
  margin: 0 .5rem;
  &:hover {
    color: $light-grey;
  }
}

span {
  color: $off-white;
}

.selected {
  color: $light-grey;
}
