.App {
  text-align: center;
  font-family: 'Orbitron', sans-serif; }

header {
  display: flex;
  align-items: flex-end;
  height: 8rem;
  padding: 1rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  background-color: #0070BC; }

.logo {
  height: 8rem;
  cursor: pointer; }
