.App {
  text-align: center;
  font-family: "Orbitron", sans-serif; }

header {
  display: flex;
  align-items: flex-end;
  height: 8rem;
  padding: 1rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  background-color: #0070BC; }

.logo {
  height: 8rem;
  cursor: pointer; }

@media only screen and (max-width: 1000px) {
  header {
    flex-direction: column;
    align-items: center;
    height: 12rem; } }

@media only screen and (max-width: 535px) {
  header {
    height: 10rem; }
  .logo {
    height: 6rem; } }

@media only screen and (max-width: 430px) {
  header {
    height: 8rem; }
  .logo {
    height: 4rem; } }
